In [2]:
import psycopg2
import pandas as pd
from pyspark.sql import SparkSession
from sqlalchemy import create_engine
import os
from datetime import datetime

In [3]:
os.environ['PYSPARK_SUBMIT_ARGS'] ='''
--packages org.apache.spark:spark-sql-kafka-0-10_2.12:3.4.1,org.apache.spark:spark-streaming-kafka-0-10-assembly_2.12:3.4.1,org.apache.spark:spark-avro_2.12:3.4.1,io.delta:delta-core_2.12:2.4.0 --conf spark.sql.session.timeZone=GMT pyspark-shell'''

In [4]:
spark_session = SparkSession.builder \
            .appName("read_hdfs") \
            .master("local") \
            .config("spark.jars.packages", "io.delta:delta-core_2.12:2.4.0") \
            .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
            .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog") \
            .getOrCreate()

23/11/25 23:03:24 WARN Utils: Your hostname, pm-GL65-Leopard-10SCXK resolves to a loopback address: 127.0.1.1; using 192.168.31.92 instead (on interface wlo1)
23/11/25 23:03:24 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

:: loading settings :: url = jar:file:/home/pm/Downloads/spark-3.4.1-bin-hadoop3/jars/ivy-2.5.1.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /home/pm/.ivy2/cache
The jars for the packages stored in: /home/pm/.ivy2/jars
org.apache.spark#spark-sql-kafka-0-10_2.12 added as a dependency
org.apache.spark#spark-streaming-kafka-0-10-assembly_2.12 added as a dependency
org.apache.spark#spark-avro_2.12 added as a dependency
io.delta#delta-core_2.12 added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-d920e67f-b326-451a-8aac-15c55d8be9f9;1.0
	confs: [default]
	found org.apache.spark#spark-sql-kafka-0-10_2.12;3.4.1 in central
	found org.apache.spark#spark-token-provider-kafka-0-10_2.12;3.4.1 in central
	found org.apache.kafka#kafka-clients;3.3.2 in central
	found org.lz4#lz4-java;1.8.0 in central
	found org.xerial.snappy#snappy-java;1.1.10.1 in central
	found org.slf4j#slf4j-api;2.0.6 in central
	found org.apache.hadoop#hadoop-client-runtime;3.3.4 in central
	found org.apache.hadoop#hadoop-client-api;3.3.4 in central
	found commons-logging#commons-logging;1.1.3 in local-m2-cache
	found com.google.code.findbugs#jsr305;3.0.0 in central
	found org.apache.commons#commons-pool2;2.11.1 in central
	found org.apache.spark#spark-streaming-kafka-0-10-assembly_2.12;3.4.1 in central
	found org.apache.spark#spark-avro_2.12;3.4.1 in central
	found org.tukaani#xz;1.9 in local-m2-cache
	found io.delta#delta-core_2.12;2.4.0 in central
	found io.delta#delta-storage;2.4.0 in central
	found org.antlr#antlr4-runtime;4.9.3 in central
:: resolution report :: resolve 376ms :: artifacts dl 19ms
	:: modules in use:
	com.google.code.findbugs#jsr305;3.0.0 from central in [default]
	commons-logging#commons-logging;1.1.3 from local-m2-cache in [default]
	io.delta#delta-core_2.12;2.4.0 from central in [default]
	io.delta#delta-storage;2.4.0 from central in [default]
	org.antlr#antlr4-runtime;4.9.3 from central in [default]
	org.apache.commons#commons-pool2;2.11.1 from central in [default]
	org.apache.hadoop#hadoop-client-api;3.3.4 from central in [default]
	org.apache.hadoop#hadoop-client-runtime;3.3.4 from central in [default]
	org.apache.kafka#kafka-clients;3.3.2 from central in [default]
	org.apache.spark#spark-avro_2.12;3.4.1 from central in [default]
	org.apache.spark#spark-sql-kafka-0-10_2.12;3.4.1 from central in [default]
	org.apache.spark#spark-streaming-kafka-0-10-assembly_2.12;3.4.1 from central in [default]
	org.apache.spark#spark-token-provider-kafka-0-10_2.12;3.4.1 from central in [default]
	org.lz4#lz4-java;1.8.0 from central in [default]
	org.slf4j#slf4j-api;2.0.6 from central in [default]
	org.tukaani#xz;1.9 from local-m2-cache in [default]
	org.xerial.snappy#snappy-java;1.1.10.1 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   17  |   0   |   0   |   0   ||   17  |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-d920e67f-b326-451a-8aac-15c55d8be9f9
	confs: [default]
	0 artifacts copied, 17 already retrieved (0kB/11ms)
23/11/25 23:03:41 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [5]:
engine = create_engine("postgresql+psycopg2://bd:bd@localhost/stock?client_encoding=utf8")

In [6]:
year, month, day = datetime.now().year, datetime.now().month, datetime.now().day

In [7]:
spark_session.conf.set("spark.sql.streaming.schemaInference", True)

In [41]:
def get_connection():
   try:
       return psycopg2.connect(
           database="historical",
           user="bd",
           password="bd",
           host="localhost",
           port=5432,
       )
   except:
       return False

conn = get_connection()

In [42]:
curr = conn.cursor()
curr.execute("SELECT * FROM HNX30;")
data = curr.fetchall()
data

UndefinedTable: relation "hnx30" does not exist
LINE 1: SELECT * FROM HNX30;
                      ^

In [24]:
df = spark_session.read.load("hdfs://localhost:9000/delta/stock1/symbol=BNA/year=2023/month=09/day=27")

In [25]:
print(type(df))

<class 'pyspark.sql.dataframe.DataFrame'>

In [26]:
df.show()

+-------------+-------------------+---------+----------+-----------+--------+---------+--------+---------+--------+---------+----------+----------+---------+---------------+----------------------+--------+---------+--------+---------+--------+---------+----------+------+---------+---------+-----------+------------+-----------+----+
|exchange_name|         trade_time|ref_price|ceil_price|floor_price|b_qtty_3|b_price_3|b_qtty_2|b_price_2|b_qtty_1|b_price_1|pct_change|last_price|last_qtty|traded_quantity|total_value_traded_qtt|s_qtty_3|s_price_3|s_qtty_2|s_price_2|s_qtty_1|s_price_1|open_price|mid_px|max_price|min_price|foreign_buy|foreign_sell|close_price|hour|
+-------------+-------------------+---------+----------+-----------+--------+---------+--------+---------+--------+---------+----------+----------+---------+---------------+----------------------+--------+---------+--------+---------+--------+---------+----------+------+---------+---------+-----------+------------+-----------+----+
| Listed stock|2023-09-27 09:30:00|     12.0|      13.2|       10.8|     6.1|     11.6|     8.7|     11.7|     5.3|     11.8|      -0.1|      11.9|      6.6|          122.0|             1428350.0|     2.8|     12.2|    17.3|     12.0|     3.9|     11.9|      12.1|  11.7|     12.1|     11.4|       null|        null|       11.9|  16|
| Listed stock|2023-09-27 09:30:00|     12.0|      13.2|       10.8|     6.1|     11.6|     8.7|     11.7|     5.3|     11.8|      -0.1|      11.9|      6.6|          122.0|             1428350.0|     2.8|     12.2|    17.3|     12.0|     3.9|     11.9|      12.1|  11.7|     12.1|     11.4|       null|        null|       11.9|  16|
+-------------+-------------------+---------+----------+-----------+--------+---------+--------+---------+--------+---------+----------+----------+---------+---------------+----------------------+--------+---------+--------+---------+--------+---------+----------+------+---------+---------+-----------+------------+-----------+----+

In [27]:
import pandas as pd

In [46]:
df = pd.read_csv("/home/pm/stock-price-streamlit/data/VN30.csv")

In [47]:
df

            Date     Price      Open      High       Low     Vol. Change %
0     11/24/2023  1,087.34  1,085.26  1,087.34  1,068.59  188.23K    0.43%
1     11/23/2023  1,082.68  1,111.93  1,114.87  1,082.68  170.08K   -2.44%
2     11/22/2023  1,109.80  1,109.31  1,112.98  1,098.21  152.39K    0.11%
3     11/21/2023  1,108.60  1,103.60  1,113.69  1,102.33  128.42K    0.52%
4     11/20/2023  1,102.85  1,091.66  1,114.63  1,085.74  172.46K   -0.06%
...          ...       ...       ...       ...       ...      ...      ...
2715  01/08/2013    525.36    512.41    525.36    511.64   32.89K    3.18%
2716  01/07/2013    509.18    500.58    509.61    498.54   26.03K    2.18%
2717  01/04/2013    498.31    489.71    499.85    487.95   20.15K    1.42%
2718  01/03/2013    491.34    492.55    492.55    483.84   32.69K    0.11%
2719  01/02/2013    490.82    486.41    492.29    485.37   22.64K    1.12%

[2720 rows x 7 columns]

In [48]:
df = df.drop('Vol.', axis=1)
df = df.drop('Change %', axis=1)

In [49]:
print(df.dtypes)

Date     object
Price    object
Open     object
High     object
Low      object
dtype: object

In [50]:
df['Date'] = pd.to_datetime(df['Date'])

In [51]:
engine = create_engine('postgresql://bd:bd@localhost:5432/historical')
df.to_sql('vn30', engine, if_exists='replace')

720