In [1]:
import psycopg2
import pandas as pd
from pyspark.sql import SparkSession
from sqlalchemy import create_engine
import os
from datetime import datetime
from pyspark.sql.functions import *

In [6]:
engine = create_engine('postgresql://bd:bd@localhost:5432/historical')

In [11]:
df = pd.read_csv("/home/pm/stock-price-streamlit/data/HAT.csv")
df

,trade_time,open_price,max_price,min_price,close_price,total_value_traded_qtt
0,2023-11-24T00:00:00.000000,34.1,37.0,34.0,37.0,800
1,2023-11-23T00:00:00.000000,36.9,36.9,36.9,36.9,1001
2,2023-11-22T00:00:00.000000,36.9,36.9,36.9,36.9,100
3,2023-11-21T00:00:00.000000,34.8,34.8,34.8,34.8,100
4,2023-11-20T00:00:00.000000,33.5,34.8,33.5,34.8,500
...,...,...,...,...,...,...
3225,2010-11-04T00:00:00.000000,25.5,26.0,25.5,25.5,3700
3226,2010-11-03T00:00:00.000000,28.0,28.0,26.7,27.5,300
3227,2010-11-02T00:00:00.000000,28.7,28.7,28.7,28.7,0
3228,2010-11-01T00:00:00.000000,29.0,29.0,28.0,28.0,1100
3229,2010-10-29T00:00:00.000000,30.0,30.0,27.0,28.0,16800

In [12]:
df['Date'] = pd.to_datetime(df['trade_time'])
df = df.drop('trade_time', axis=1)

In [13]:
df.rename(columns={'open_price': 'Open', 'max_price': 'Max', 'min_price': 'Min', 'close_price': 'Close', 'total_value_traded_qtt': 'Vol'}, inplace=True)

In [14]:
df.to_sql('hat', engine, if_exists='append')

230